#Codeial {
  display: flex;
  font-size: 2rem;
  color: white;
  background-color: #27a2d3;
  height: 8%;
  font-family: Georgia; }

ul {
  margin-left: 50%;
  margin-top: 3px; }
  ul li {
    list-style: none;
    font-size: 1.5rem;
    color: white;
    text-decoration: none; }
